.nav {
  display: flex;
  width: 100%;
  font-size: 24px;
  font-family: 'Bungee', sans-serif;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-hide {
  display: none;
}

.tweet-button {
  font-family: 'Source Sans Pro', sans-serif;
}

#write-tweet:hover {
  font-size: 26px;
}

/* Arrow animation */
p {
  padding: 0;
  margin: 0;
}
@-webkit-keyframes arrow-jump {
  0%   { -webkit-transform: translateY(0px); }
  50% { -webkit-transform: translateY(10px); }
  100% { -webkit-transform: translateY(0px); }  
}
#arrow {
  display: flex;
  justify-content: center;
  -webkit-animation: arrow-jump 3s infinite;
}

