.old-tweet {
  margin: 1em 0em;
  padding: 0em 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border: 2px solid black;
  font-family: 'Source Sans Pro', sans-serif;
}

/* On Hover */
.show-username {
  display: none;
}
.old-tweet:hover {
  box-shadow: 5px 5px gray;
}
.old-tweet:hover > header > div > .show-username {
  display: block;
}


/* Header */
.old-tweet header {
  display: flex;
  height: 70px;
  flex-basis: 100%;
  justify-content: space-between;
  margin: 0.5em;
}
.old-tweet header > div {
  display: flex;
  align-items: center;
}
.old-tweet > header > div > img {
  margin-right: 0.25em;
  height: 50px;
}

/* Tweet */
.old-tweet p {
  /* If text extends width */
  word-break: break-all;
  width: 100%;  
}

/* Footer */
.old-tweet > footer {
  margin-top: 20px;
  border-top: 2px solid black;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  font-size: 16px;
}
.old-tweet > footer > div {
  display: flex;
  align-items: center;
}
.old-tweet > footer > ul {
  list-style-type: none;
}
.old-tweet > footer > ul > li {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  float: left;
}






